<h1>Página del Personal</h1>

    <div class="personal">
        <div class="miembro">
            <h3>Néstor Chumania</h3>
            <p>Desarrollador</p>
        </div>

        <div class="miembro">
            <h3>Danny Vinueza</h3>
        <p>Desarrollador</p>
        </div>

        <div class="miembro">
            <h3>Carolina Alvarado</h3>
            <p>Desarrollador</p>
        </div>
    </div>